<div class="container" id="exerciseTable">
<table class="table table-bordered table-dark" *ngIf="!selected">
  <thead>
    <tr scope="row">
      <td scope="col"><strong>Exercise Name</strong></td>
      <td><strong scope="col">Workout Type</strong></td>
      <td><strong scope="col">Duration</strong></td>
      <td><strong scope="col">Weight (in lbs)</strong></td>
      <td><strong scope="col">Number of Reps</strong></td>
      <td><strong scope="col">Number of Sets</strong></td>
      <td><strong scope="col">Place</strong></td>
    </tr>
  </thead>
  <tr *ngFor="let exercise of exercises" scope="row">
    <td (click)="selectExercise(exercise)">{{ exercise.name }}</td>
    <td>{{ exercise.type }}</td>
    <td>{{ exercise.duration }}</td>
    <td>{{ exercise.weight }}</td>
    <td>{{ exercise.numReps }}</td>
    <td>{{ exercise.numSets }}</td>
    <td>{{ exercise.place }}</td>
  </tr>
</table>
</div>


<div class="container-fluid" *ngIf="!selected" id="avgDuration">
  <h3>
    Average Workout Duration: <span class="badge badge-secondary">{{ getAveWorkoutDuration() | number: "1.0-0" }} minutes</span>
  </h3>
</div>
<div class="container" *ngIf="selected && !updateExercise">
  <h2>{{ selected.name }}</h2>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">Id: {{ selected.id }}</li>
    <li class="list-group-item">Type: {{ selected.type }}</li>
    <li class="list-group-item">Duration: {{ selected.duration }}</li>
    <li class="list-group-item">Weight: {{ selected.weight }}</li>
    <li class="list-group-item">Number of Reps: {{ selected.numReps }}</li>
    <li class="list-group-item">Number of Sets: {{ selected.numSets }}</li>
    <li class="list-group-item">Number of Place: {{ selected.place }}</li>
  </ul>
  <button type="button" class="btn btn-info" (click)="setedit()">Edit</button>
  <button type="button" class="btn btn-danger" (click)="deleteExercise(selected.id)">Delete</button>
  <button type="button" class="btn btn-success" (click)="displayAll()">Back</button>
</div>
<div class="container" *ngIf="updateExercise">
  <h2>Exercise Id: {{ updateExercise.id }}</h2>
  <form>
    <label for="name">Exercise Name</label>
    <input type="text" name="name" [(ngModel)]="updateExercise.name" /><br />
    <label for="type">Type</label>
    <input type="text" name="type" [(ngModel)]="updateExercise.type" /><br />
    <label for="duration">Duration</label>
    <input
      type="number"
      name="duration"
      [(ngModel)]="updateExercise.duration"
    /><br />
    <label for="weight">Weight (in lbs)</label>
    <input
      type="number"
      name="weight"
      [(ngModel)]="updateExercise.weight"
    /><br />
    <label for="numReps">Number of Reps</label>
    <input
      type="number"
      name="numReps"
      [(ngModel)]="updateExercise.numReps"
    /><br />
    <label for="numSets">Number of Sets</label>
    <input
      type="number"
      name="numSets"
      [(ngModel)]="updateExercise.numSets"
    /><br />
    <label for="place">Place</label>
    <input type="text" name="place" [(ngModel)]="updateExercise.place" /><br />
    <button (click)="editExercise(updateExercise)">Save</button>
    <button (click)="updateExercise = null">Cancel</button>
  </form>
</div>
